#back{
    width: 7%;
    height: 10%;
    position: relative;
    top: 7%;
    left: 80%;
    background: none;
    border: none;
 
}
h3{
    font-size: 30px;
    position: absolute;
    top: 14%;
    left: 7%;
}
.form{
    border: 2px solid #FBC72C;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 78%;
    height: 67%;
    left: 5%;
    margin-top: 13%;
    padding: 6%;
}
label{
    font-size: 24px;
    font-weight: bold;
}
.labelName{
    position: absolute;
    top: 7%;
}
#name{
    position: absolute;
    top: 13%;
    width: 50%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelAge{
    position: absolute;
    top: 7%;
    left: 63%;
}
#Age{
    position: absolute;
    top: 13%;
    left: 63%;
    width: 17%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelEmail{
    position: absolute;
    top: 23%;
}
#email{
    position: absolute;
    top: 29%;
    width: 50%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelPhone{
    position: absolute;
    top: 23%;
    left: 63%;
}
#Phone{
    position: absolute;
    top: 29%;
    left: 63%;
    width: 28%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelPassword{
    position: absolute;
    top: 40%;
}
#password{
    position: absolute;
    top: 46%;
    width: 50%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelDate{
    position: absolute;
    top: 40%;
    left: 63%;
}
#Date{
    position: absolute;
    top: 46%;
    left: 63%;
    width: 28%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelContract{
    position: absolute;
    top: 57%;
}
#Contract{
    position: absolute;
    top: 63%;
    width: 28%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
.labelTime{
    position: absolute;
    top: 57%;
    left: 40%;
}
#Time{
    position: absolute;
    top: 63%;
    left: 40%;
    width: 23.5%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}

.labelEmergency{
    position: absolute;
    top: 75%;
  
}
#Emergency{
    position: absolute;
    top: 81%;
    width: 40%;
    background: none;
    border: none;
    padding: 1%;
    border-bottom: 1.5px solid #FBC72C;
    font-size: 18px;
    font-weight: bold;
}
select{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    top: 60%;
    left: 69.5%;
    height: 5%;
    width: 24%;
    border: 1.5px solid #FBC72C;
}


#record{
    position: absolute;
    top:85%;
    left: 63%;
    width: 30%;
    height: 8%;
    background: #FBC72C;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 5.74143px 5.74143px rgba(0, 0, 0, 0.25);
    font-family: 'Red Hat Mono', monospace;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
   
}



