.menu{
    width: 90%;
    display: grid;
    grid-template-columns: 30% 15% 55%;
    position: relative;
    border: 2px solid #F645D4;
    border-top: none;
    top: 186px;
    left: 5%;
    align-items: center;
    
}
.item img {
    width: 45%;
    margin: 15% 10% 10% 35%;
}
.item h5 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 90%;
   margin-left: 12%;
}
.price h5{
    font-size: 38px;
    font-weight: bold;
    margin-left: 17%;
}
.comanda{
    width: 80%;
    margin-left: 15%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.comanda button{
    width: 27%;
    height: 90px;
    border-radius: 100%;
    margin: 0 8% 0 8%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: #F645D4;
    border: none;
}
.comanda button:first-child{
   background: #FBC72C;
   border: none;
}
.comanda h5{
    font-size: 45px;
    font-weight: bold;
}