* {
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
}

.Login {
    margin: 0;
    background: linear-gradient(180deg, #8FE0F4 0%, #A3FFC2 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#BurgerQueen {
    height: 30%;
    margin-bottom: 5vh;
}

h2 {
    font-size: 35px;
    margin-bottom: 5vh;
}

#Email {
    width: 50%;
    height: 3%;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 2%;
    margin-bottom: 4%;
}

.pswrdGroup {
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4%;
}

#Password {
    position: relative;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 2%;
    z-index: 1;
    left: 23%;
}

#mask {
    border: none;
    background: none;
    position: relative;
    z-index: 2;
    left: 15%;
}

#mask img {
    width: 120%;
}

input {
    font-size: x-large;
}

p {
    width: 50%;
    height: 3%;
    font-size: x-large;
    color: rgb(119, 9, 9);
    text-align: center;
    margin-bottom: 3vh;
}

#loginBtn {
    width: 35%;
    height: 7%;
    background: #FBC72C;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 5.74143px 5.74143px rgba(0, 0, 0, 0.25);
    font-size: xx-large;
    font-weight: bolder;
}

/* @media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)   {
.Login{
margin-left: 200%;
}
} */