.modal-content {
  padding: 10px 60px;
  border: 3px solid #F645D4;
}
.close {
  font-size: xx-large;
  background-color: white;
  border: 0;
}
p.modal-title{
  margin-top: 70px;
  font-size: x-large;
}
label{
  font-weight: lighter;
}
.input-group{
  display: flex;
  flex-direction: column;
}
.bigger{
  font-size: x-large;
}
input.input-p-style{
  border: 0;
  border-bottom: 2px solid #F645D4;
  width: 80%;
}
input.input-p-style.large{
  width: 90%;
}
.second-line{
  display: flex;
  justify-content: space-between;
}
.radio-type{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -3%;
}
input[type="radio"] {
  width: 50px;
  height: 20px;
}
input[type="radio"]:checked {
  background-color: red;
  border: 2px solid #FBC72C;
}
.add-product {
  background-color: #F18FDE;
  color: black;
  width: 30%;
  height: 5%;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 5.74143px 5.74143px rgba(0, 0, 0, 0.25);
  font-family: 'Red Hat Mono', monospace;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 5% 0%;
  position: relative;
  left: 35%;
}
.product-img{
  width: 40vw;
  /* border: 2px solid #FBC72C; */
  padding: 5%;
  margin-right: 5%;
}
.third-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



